<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<hr><br>
<div id="footer" style="text-align: center; display: flex; justify-content: center; flex-direction: column;  ">
(주)HairHub | 서울시 서초구 사임당로 144, 4층 |대표: 이송은 | 개인정보관리책임자: 이송은 | 사업자등록번호: 613-88-546548<br>
통신판매업신고: 2024-서울서초-3032 |유료직업소개사업등록번호: 제2023-121546-59-5-665555호 |고객센터:1544-6548|1:1문의하기
    <p><br></p>
</div>
<!--index.js 추가-->
<script src="/js/app/index.js"></script>

</body>
</html>
