<!DOCTYPE HTML>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hair Hub</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link href="https://cdn.jsdelivr.net/gh/webfontworld/gmarket-sans/GmarketSans.css" rel="stylesheet" type="text/css">



    <style>
        body {
            font-family: 'GmarketSans', sans-serif;
            background: white;  /* fallback for old browsers */
            /*background-color: #f5f5f5*/
            background-color: #ffffff;


        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: 600;
            color: #333; /* 어두운 회색으로 텍스트 색상 설정 */
        }

        .navbar-brand {
            font-size: 2rem; /* 폰트 크기를 크게 설정 */
            font-weight: 700;
            /* color: #333; 어두운 회색으로 텍스트 색상 설정 */
            color: #E8F5E9;
            font-family: 'Poppins', sans-serif;
        }
        .bg-light{
            background-color: #f5f5f5 !important;
        }


        /* 헤더 스타일 */
        #header {
            padding: 20px;
            margin-bottom: 20px;

        }

    </style>



