
.pagination {
justify-content: center;
}

.pagination .page-item {
margin: 0 5px; /* 페이지 항목 간의 간격 */
}

.pagination .page-link {
border-radius: 5px;
border: 1px solid #E8F5E9; /* 페이지 링크의 테두리 색상 */
background-color: white; /* 페이지 링크의 배경 색상 */
color: #E8F5E9; /* 페이지 링크의 텍스트 색상 */
padding: 10px 15px; /* 페이지 링크의 패딩 */
transition: background-color 0.3s, color 0.3s;
}

.pagination .page-link:hover {
background-color: #E8F5E9; /* 페이지 링크 호버 시 배경 색상 */
color: white; /* 페이지 링크 호버 시 텍스트 색상 */
border-color: #E8F5E9; /* 페이지 링크 호버 시 테두리 색상 */
}

.pagination .page-item.active .page-link {
background-color: #E8F5E9; /* 활성 페이지 링크의 배경 색상 */
color: white; /* 활성 페이지 링크의 텍스트 색상 */
border-color: #E8F5E9; /* 활성 페이지 링크의 테두리 색상 */
}

.pagination .page-item.disabled .page-link {
color: #ccc; /* 비활성 페이지 링크의 텍스트 색상 */
border-color: #ccc; /* 비활성 페이지 링크의 테두리 색상 */
}

.chart-container {
position: absolute; /* 배경 이미지 위에 위치시키기 위한 설정 */
margin: 20px 0;
    margin-left: 150px;
padding: 20px;
background-color: rgba(255, 255, 255, 0.9); /* 투명도가 있는 흰색 배경 */
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
width: 100%;
max-width: 1200px;
}

.table-container {
margin-top: 20px;
padding: 20px;
background-color: #ffffff; /* 하얀색 배경 */
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
text-align: center;

}

.table thead th {
background-color: #E8F5E9;
color: white;
}


.table {
width: 100%;
border-collapse: collapse;

}

.icon-button {
    background-color: transparent; /* 배경 투명 */
    border: none; /* 기본 버튼 테두리 제거 */
    padding: 0; /* 여백 제거 */
    cursor: pointer; /* 마우스 포인터를 손가락으로 변경 */
    display: inline-flex; /* 아이콘과 버튼을 한 줄로 배치 */
    align-items: center; /* 아이콘을 버튼의 가운데로 정렬 */
    justify-content: center; /* 아이콘을 버튼의 가운데로 정렬 */
}

.icon-button img {
    width: 24px; /* 아이콘의 너비 */
    height: 24px; /* 아이콘의 높이 */
}