{{>layout/header}}
<link rel="stylesheet" href="/css/mainCss.css" />
{{>layout/guestHeadline}}


<div class="search">
    <div class="search-container">
        <input type="text" id="search-input"  placeholder="검색어를 입력하세요">
        <button id="search-button">검색</button>
</div>
</div>
<div id="main-box">
    <div id="best-desiner-container" >

        <button class="scroll-button left" aria-label="Scroll Left">&#10094;</button>

        <div id="best-desiner">
            <div class="best-desiner-title">이달의 디자이너</div>
            <div class="photo-card">
                <a href="https://localhost:8081/desiner" target="_blank" class="photo-card">
                    <img src="/images/주꿀4.jpg" alt="디자이너 4"/>
                </a>
            </div>
            <div class="photo-card">
                <a href="https://localhost:8081/desiner" target="_blank" class="photo-card">
                    <img src="/images/주꿀3.jpg" alt="디자이너 3"/>
                </a>
            </div>
            <div class="photo-card">
                <a href="https://localhost:8081/desiner" target="_blank" class="photo-card">
                    <img src="/images/주꿀2.jpg" alt="디자이너 2"/>
                </a>
            </div>
            <div class="photo-card">
                <a href="https://localhost:8081/desiner" target="_blank" class="photo-card">
                    <img src="/images/주꿀1.jpg" alt="디자이너 1"/>
                </a>
            </div>
            <div class="photo-card">
                <a href="https://localhost:8081/desiner" target="_blank" class="photo-card">
                    <img src="/images/주꿀5.jpg" alt="디자이너 5"/>
                </a>
            </div>
            <div class="photo-card">
                <a href="https://localhost:8081/desiner" target="_blank" class="photo-card">
                    <img src="/images/주꿀6.jpg" alt="디자이너 6"/>
                </a>
            </div>
            <div class="photo-card">
                <a href="https://localhost:8081/desiner" target="_blank" class="photo-card">
                    <img src="/images/주꿀7.jpg" alt="디자이너 7"/>
                </a>
            </div>
            <div class="photo-card">
                <a href="https://localhost:8081/desiner" target="_blank" class="photo-card">
                    <img src="/images/주꿀8.jpg" alt="디자이너 8"/>
                </a>
            </div>

        </div>
        <button class="scroll-button right" aria-label="Scroll Right">&#10095;</button>
    </div>

    <div id = recommend-container>
        <div id="Neighborhood">
            <a href="https://localhost:8081/map" target="_blank" class="Neighborhood-icon">
                <img src="/images/icon/free-icon-map-2204655.jpg" alt="Neighborhood-img"/><h6>우리동네미용실</h6>
            </a>
        </div>
        <div id="best-service-0">
            <div id = best-service-3>
                <div class="sale">
                    <a href="https://localhost:8081/desiner" target="_blank" class="sale">
                        <img src="/images/icon/free-icon-coupon-1831669.jpg" alt="EventSale"/><h6>이벤트 세일</h6>
                    </a>
                </div>
            </div>
            <div id = best-service-4>
                <div class="sale">
                    <a href="https://localhost:8081/desiner" target="_blank" class="sale">
                        <img src="/images/icon/free-icon-cream-2634641.jpg" alt="Purchase of products"/><h6>제품구매</h6>
                    </a>
                </div>
            </div>
        </div>
        <div id =ggul-tip-video>
            <video width="640" height="360" controls>
                <source src="video.mp4" type="video/mp4">
                <source src="video.ogv" type="video/ogg">
                <source src="video.webm" type="video/webm">
                Your browser does not support the video tag.
            </video>
            <h6>오늘의 꿀팁</h6>
        </div>

        <div id="best-service-0">
            <div id = best-service-1>
                <div class="KingOfService">
                    <a href="https://localhost:8081/desiner" target="_blank" class="KingOfService">
                        <img src="/images/icon/free-icon-hair-cutting-4614171.jpg" alt="KingOfCut"/><h6>King of Cut</h6>
                    </a>
                </div>
                <div class="KingOfService">
                    <a href="https://localhost:8081/desiner" target="_blank" class="KingOfService">
                        <img src="/images/icon/free-icon-hair-dye-4614130.jpg" alt="KingOfDye"/><h6>King of Dye</h6>
                    </a>
                </div>
                <div class="KingOfService">
                    <a href="https://localhost:8081/desiner" target="_blank" class="KingOfService">
                        <img src="/images/icon/free-icon-hair-straightener-4614216.jpg" alt="KingOfStraightener"/><h6>King of Straightener</h6>
                    </a>
                </div>
            </div>
            <div id = best-service-2>
                <div class="KingOfService">
                    <a href="https://localhost:8081/desiner" target="_blank" class="KingOfService">
                        <img src="/images/icon/free-icon-perm-5498766.jpg" alt="KingOfPerm"/><h6>King of Perm</h6>
                    </a>
                </div>
                <div class="KingOfService">
                    <a href="https://localhost:8081/desiner" target="_blank" class="KingOfService">
                        <img src="/images/icon/free-icon-woman-hair-7755222.jpg" alt="KingOfClinic"/><h6>King of Clinic</h6>
                    </a>
                </div>
                <div class="KingOfService">
                    <a href="https://localhost:8081/desiner" target="_blank" class="KingOfService">
                        <img src="/images/icon/free-icon-next-8066267.jpg" alt="예약하기"/><h6>예약 바로가기</h6>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="/js/script.js" defer></script>

{{>layout/footer}}


