{{>layout/header}}
<link rel="stylesheet" href="/css/mapCss.css" />

<!-- 검색 입력 필드 및 지도를 포함하는 컨테이너 -->
<div class="container">
    <div class="map-container">
        <!-- 검색 입력 필드 추가 -->
        <input id="searchInput" type="text" placeholder="출발지 또는 목적지 입력" >
        <!-- 지도가 표시될 div -->
        <div id="map"></div>
    </div>

    <!-- 미용실 리스트를 표시할 div -->
    <div class="info-list">
        <h3>주변 미용실 리스트</h3>
        <ul id="salonList" class="salon-list">

        </ul>
    </div>
</div>


<script src="/js/mapscript.js" defer></script>





{{>layout/footer}}
