{{>layout/header}}
<link rel="stylesheet" href="/css/reviewListCss.css" />

<div class="reviewList-container">
    <!-- 필터 선택 바 추가 -->
    <div class="filter-bar">
        <select id="filter" name="filter" onchange="filterReviews()">
            <option value="rating">별점순</option>
            <option value="revisit">재방문순</option>
            <option value="recent">최신순</option>
        </select>
    </div>

    <div class="review-list-outbox">
        <div class="sidebar">
            <h1>리뷰리스트</h1><br><br>

            <!--<h2>디자이너</h2>
            <ul>
                <li><a href="/designerList" class="{{#isActiveDesigners}}active{{/isActiveDesigners}}">모든 디자이너</a></li>
                <li><a href="/salons" class="{{#isActiveSalons}}active{{/isActiveSalons}}">King of Cut</a></li>
                <li><a href="/top-designers" class="{{#isActiveTopDesigners}}active{{/isActiveTopDesigners}}">King of Dye</a></li>
                <li><a href="/new-designers" class="{{#isActiveNewDesigners}}active{{/isActiveNewDesigners}}">King of Straightener</a></li>
                <li><a href="/promotions" class="{{#isActivePromotions}}active{{/isActivePromotions}}">King of perm</a></li>
                <li><a href="/promotions" class="{{#isActivePromotions}}active{{/isActivePromotions}}">King of Clinic</a></li>
                <li><a href="/promotions" class="{{#isActivePromotions}}active{{/isActivePromotions}}">New Designer</a></li>
            </ul>-->
        </div>

        <div class="review-list">
            <div class="review-inner">
                <div class="review-image">
                    <img src="/images/reviews/허그펌.jpg" alt="주꿀이의 사진">
                </div>
                <div class="review-info">
                    <h2>현HairExpert 후기 [blingbling hair]
                        <a href="/designer/designer11" class="reservation-link">예약 바로가기</a>
                    </h2><hr>
                    <h5 class="rating">[허그펌]&nbsp;&nbsp; 별점: <span class="star-rating">5</span></h5><br>
                    <h6>역시 이구역 짱은 현민 디자이너! 매일 손질하기 어려운 머리가 고민이었는데
                        시술 후에 요즘 살맛납니다!! 상담도 친절하시고, 스피드하게 시술 받을 수 있어서 좋았어요</h6><br>
                    <div class="review-footer">
                        <p>[재방문수: 1]</p>
                        <p>&nbsp;&nbsp;대전광역시 중구 문창동</p>
                        <p class="reservation-date">예약 날짜: 2024-08-07</p>
                    </div>
                </div>
            </div>


            {{#reviews}}
                <div class="review-inner">
                    <div class="review-image">
                        <img src="{{reviewPictureId}}" alt="{{reviewId}}의 사진">
                    </div>
                    <div class="review-info">
                        <h2>{{designerNickname}} 후기 [{{salonName}}]
                            <a href="/designer/{{designerId}}" class="reservation-link">예약 바로가기</a>
                        </h2><hr>
                        <h5 class="rating">[{{serviceName}}]&nbsp;&nbsp;별점: <span class="star-rating">{{reviewRating}}</span></h5>
                        <h6> {{reviewContent}}</h6><br>
                        <div class="review-footer">
                            <p>[재방문수: {{revisiting}}]</p>
                            <p>&nbsp;&nbsp;{{address}}</p>
                        <p class="reservation-date">예약 날짜: 2024-08-07</p>
                        </div>
                    </div>
                </div>
            {{/reviews}}
        </div>
    </div>

    <!-- 페이지네이션 추가 -->
    <div class="pagination">
        <a href="/reviewList?page={{prevPage}}&filter={{filter}}"><button>이전</button></a>
        <span id="pageInfo">페이지 {{currentPage}} / {{totalPages}}</span>
        <a href="/reviewList?page={{nextPage}}&filter={{filter}}"><button>다음</button></a>

    </div>
</div>

<script src="/js/reviewListscript.js" defer></script>

{{>layout/footer}}