{{>layout/header}}
<link rel="stylesheet" href="/css/salonCss.css" />
{{>layout/guestHeadline}}

<div id="salon">
<div id="photo-container" style="background-image: url('/images/예쁜미용실1.jpg'); background-size: cover; background-position: center;">
</div>
    <div id="text">
        <h3>예쁜 미용실</h3><br>

        <p>편안하고 안락한 분위기에서 고객님의 숨겨진 아름다움까지 찾아드리겠습니다.</p><br>
        <hr>

        <div id = "introduce-container">

            <div id="map-container" style="background-image: url('/images/예쁜미용실지도.jpg'); background-size: cover; background-position: center;"></div><br>


            <div id= "salon-memo-container">
            <p> 주소 : 대전광역시 중구 삼정동 234-3 2층<br>
                영업시간 : 10:00 ~ 20:00<br>
                주차여부 : 타워내 기계식 주차 가능<br>
                홈페이지주소 : <a href ="/https://abcdef.ggg">https://abcdef.ggg</a> <br>
                전화번호 : 042) 253 - 4598<br>
            </div>
        </div>
        <hr>
        <!-- 디자이너 사진 섹션 추가 -->
        <div id="designers">
            <div>
            <a href="https://localhost:8081/desiner" target="_blank" class="designer">
                <img src="/images/주꿀1.jpg" alt="디자이너 1"> <h6>민디자이너</h6>
            </div>
            <div>
                <a href="https://localhost:8081/desiner" target="_blank" class="designer">
                    <img src="/images/주꿀2.jpg" alt="디자이너 2"> <h6>수정디자이너</h6>
            </div>
            <div>
            <a href="https://localhost:8081/desiner" target="_blank" class="designer">
                <img src="/images/주꿀3.jpg" alt="디자이너 3"> <h6>별원장님</h6>
            </div>
            <div>
                <a href="https://localhost:8081/desiner" target="_blank" class="designer">
                    <img src="/images/주꿀4.jpg" alt="디자이너 4"> <h6>초이디자이너</h6>
            </div>
            <div>
                <a href="https://localhost:8081/desiner" target="_blank" class="designer">
                    <img src="/images/주꿀1.jpg" alt="디자이너 1"> <h6>현실장님</h6>
            </div>
            <div>
                <a href="https://localhost:8081/desiner" target="_blank" class="designer">
                    <img src="/images/주꿀2.jpg" alt="디자이너 2"> <h6>두희컬러리스트</h6>
            </div>
            <div>
                <a href="https://localhost:8081/desiner" target="_blank" class="designer">
                    <img src="/images/주꿀3.jpg" alt="디자이너 3"> <h6>혜리디자이너</h6>
            </div>
            <div>
                <a href="https://localhost:8081/desiner" target="_blank" class="designer">
                    <img src="/images/주꿀4.jpg" alt="디자이너 4"> <h6>셀리컬러리스트</h6>
            </div>
            <div>
                <a href="https://localhost:8081/desiner" target="_blank" class="designer">
                    <img src="/images/주꿀1.jpg" alt="디자이너 1"> <h6>콤마디지아너</h6>
            </div>
            <div>
                <a href="https://localhost:8081/desiner" target="_blank" class="designer">
                    <img src="/images/주꿀2.jpg" alt="디자이너 2"> <h6>주리부원장님</h6>
            </div>
            <div>
                <a href="https://localhost:8081/desiner" target="_blank" class="designer">
                    <img src="/images/주꿀3.jpg" alt="디자이너 3"> <h6>설수석디자이너</h6>
            </div>
            <div>
                <a href="https://localhost:8081/desiner" target="_blank" class="designer">
                    <img src="/images/주꿀4.jpg" alt="디자이너 4"> <h6>아정디자이너</h6>
            </div>
        </div>


    </div>
</div>






{{>layout/footer}}