{{>layout/header}}
<link rel="stylesheet" href="/css/salonCss.css" />
{{>layout/guestHeadline}}


<div id="salon">
<div id="photo-container" style="background-image: url('/images/예쁜미용실1.jpg'); background-size: cover; background-position: center;">
</div>
    <div id="text">
        <h3>{{salon.salonName}}</h3><br>

        <p>{{salon.salonIntroduce}}</p><br>
        <hr>

        <div id = "introduce-container">

            <div id="map-container" style="background-image: url('/images/예쁜미용실지도.jpg'); background-size: cover; background-position: center;"></div><br>


            <div id= "salon-memo-container">
            <p> 주소 : {{salon.address}}<br>
                영업시간 : {{salon.businessHours}}<br>
                주차여부 : {{salon.parking}}<br>
                홈페이지주소 : <a href ={{salon.homepageUrl}}></a> <br>
                전화번호 : {{salon.tel}}<br>
            </div>
        </div>
        <hr>
        <!-- 디자이너 사진 섹션 추가 -->
        <div id="designers">
            <div>
            <a href="https://localhost:8081/designer" target="_blank" class="designer">
                <img src="/images/주꿀1.jpg" alt="디자이너 1"> <h6>민디자이너</h6>
            </a>
            </div>
            <div>
                <a href="https://localhost:8081/designer" target="_blank" class="designer">
                    <img src="/images/주꿀2.jpg" alt="디자이너 2"> <h6>수정디자이너</h6>
                </a>
            </div>
            <div>
            <a href="https://localhost:8081/designer" target="_blank" class="designer">
                <img src="/images/주꿀3.jpg" alt="디자이너 3"> <h6>별원장님</h6>
            </a>
            </div>
            <div>
                <a href="https://localhost:8081/designer" target="_blank" class="designer">
                    <img src="/images/주꿀4.jpg" alt="디자이너 4"> <h6>초이디자이너</h6>
                </a>
            </div>
            <div>
                <a href="https://localhost:8081/designer" target="_blank" class="designer">
                    <img src="/images/주꿀1.jpg" alt="디자이너 1"> <h6>현실장님</h6>
                </a>
            </div>
            <div>
                <a href="https://localhost:8081/designer" target="_blank" class="designer">
                    <img src="/images/주꿀2.jpg" alt="디자이너 2"> <h6>두희컬러리스트</h6>
                </a>
            </div>
            <div>
                <a href="https://localhost:8081/designer" target="_blank" class="designer">
                    <img src="/images/주꿀3.jpg" alt="디자이너 3"> <h6>혜리디자이너</h6>
                </a>
            </div>
            <div>
                <a href="https://localhost:8081/designer" target="_blank" class="designer">
                    <img src="/images/주꿀4.jpg" alt="디자이너 4"> <h6>셀리컬러리스트</h6>
                </a>
            </div>
            <div>
                <a href="https://localhost:8081/designer" target="_blank" class="designer">
                    <img src="/images/주꿀1.jpg" alt="디자이너 1"> <h6>콤마디지아너</h6>
                </a>
            </div>
            <div>
                <a href="https://localhost:8081/designer" target="_blank" class="designer">
                    <img src="/images/주꿀2.jpg" alt="디자이너 2"> <h6>주리부원장님</h6>
                </a>
            </div>
            <div>
                <a href="https://localhost:8081/designer" target="_blank" class="designer">
                    <img src="/images/주꿀3.jpg" alt="디자이너 3"> <h6>설수석디자이너</h6>

                </a>
            </div>
            <div>
                <a href="https://localhost:8081/designer" target="_blank" class="designer">
                    <img src="/images/주꿀4.jpg" alt="디자이너 4"> <h6>아정디자이너</h6>
                </a>
            </div>
        </div>


    </div>
</div>



{{>layout/footer}}